<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}
</head>
<body>
    <!-- main body  -->
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-centre">
                        <figure>
                            <img src="images/about.png" alt="about me" class="image-fluid" title="sumanth">
                        </figure>
                    </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>I am a <span class="text_clr">full stack developer </span> and a learner</h1>
                        <a href="https://www.google.com" target="_blank"><button>google me</button></a>
                    </div>
                    <!-- right side div  -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}
</body>
</html>