@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}

:root {
    --main-bg: #2e0b72;
    --main-color: #000000;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
}

.navbar {
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a {
    color: aliceblue;
    font-size: 2rem;
}

.navbar a:hover {
    color: rgb(154, 2, 255);
}

.navbar-toggler {
    background-color: rgb(208, 208, 208);
}

.fa-snowflake {
    color: rgb(240, 240, 240);
    transition: all linear;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(99deg);
    }
}

.main_header_left {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 3rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: rgb(154, 2, 255);
}

.main_header_left button {
    border: black;
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 1rem;
}

.main_header_left button:hover {
    box-shadow: 0px 2px 2px -2px black;
}

.main_header_right {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main_header_right figure img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
}

.temp_form {
    margin: 10rem auto 6rem;
    width: 60%;
    position: relative;
}

.temp_form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: rgb(52, 52, 52);
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

::placeholder {
    color: rgb(226, 222, 222);
}

.temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: rgb(154, 2, 255);
    padding: 0 3rem;
    border-radius: 3rem;
    color: #ffffff;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover {
    color: rgb(154, 2, 255);
    background: rgb(226, 226, 226);
}


.tempInformation {
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #3a2466;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Sono', sans-serif;
}

.top_layer {
    width: 100%;
    height: 20%;
    background-color: #7044c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 0;
}

.top_layer p {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.main_layer #city_name {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    padding: 2rem 1rem;
}

.main_layer .middle_layer {
    justify-content: space-around;
    color: #fff;
    display: flex;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa-solid {
    font-size: 6rem;
    font-weight: 1000;
}

.fa-solid {
    color: #fff;
}

sup {
    font-size: 4rem;
    margin-top: -1rem;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
}



.errimg img {
    width: 60rem;
    height: 30rem;
}

footer {
    background-color: rgb(45, 43, 43);
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    line-height: 6rem;
}

@media(max-width:768px) {
    .main_header_left {
        height: auto;
        margin: 5rem 0;
    }

    .main_header_right {
        height: auto;
        margin: 3rem 0;
    }

    .temp_form{
        width: auto;
    }
    .tempInformation{
        width: auto;
    }
    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa-solid {
    font-size: 4rem;
    }
    .temp_form input[type="text"] {
        width: 100%;
        padding: 2rem 5rem 2rem 2rem;
        background: rgb(52, 52, 52);
        color: #fff;
        outline: none;
        border: none;
        font-size: 1.4rem;
        border-radius: 3rem;
    }
    .main_layer #city_name {
        font-weight: 300;
        font-size: 2rem;
        color: #fff;
        padding: 2rem 1rem;
    }
}